<configuration debug="true">

    <timestamp key="bySecond" datePattern="yyyy-MM-dd:HH-mm-ss.SSS"/>
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>logs/kafka_batch.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archive/kafka_batch-server.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>

    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <logger name="com.batch.jobs" level="ALL">
    </logger>


    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>